.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.form-check {
    margin-left: 30px;
}

.page-header    {
    margin-top: 15% !important;
}

.inputForm  {
    padding-bottom: 30px;
}

.create-user-button {
    color:green;
}