.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.form-check {
    margin-left: 30px;
}

.page-header    {
    margin-top: 15% !important;
}

.inputForm  {
    padding-bottom: 30px;
}

.create-user-button {
    color:green;
}

.ticketsystem-row   {
    margin: 20px;
}

.ticket-system-button   {
    width: 100%;
}

.open  {
    border: 1px solid green;
    border-radius: 50px;
    background: green;
    color: white;
    padding: 4px;
}

.closed  {
    border: 1px solid red;
    border-radius: 50px;
    background: red;
    color: white;
    padding: 4px;
}

.pending  {
    border: 1px solid yellow;
    border-radius: 50px;
    background: yellow;
    color: white;
    padding: 4px;
}

.logout-button  {
    margin-top: 15px;
}



.inputForm label  {
    padding-top: 20px;
}

#user_id_for_pw {
    display: none;
}